body {background-color: white;
  font-family: Palatino;
  font-size: 13pt;
  margin-bottom: 60;}

a:link {color: rgb(204, 0, 153);
  text-decoration: none;}
a:visited {color: rgb(0, 190, 0);}

header {background-image: url("Sfondo titolo.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px}

h2 {color: white;
  font-size:45pt;
  font-family: Hauracherell NC;
  color: black;
  margin-bottom: 5px;
  margin-top: 100px;}

#Titolo_CupOffTea {width: 50%;
  padding-top: 5%;
  padding-bottom: 5%}

#foto_orizzontale {margin-left: 0px;
  margin-right: 0px;}

#Curriculum_Vitae {margin-top: 2em;}

section {font-family: Hauracherell NC;
  margin-top: 10px}

main, article, footer {padding-right: 15px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px}

main {background-color: rgb(204, 0, 153);
  color: white;
  padding-right: 30%;}

article {background-color: rgb(0, 190, 0);
  color: white;
  padding-right: 30%;}

footer {background-color: rgb(143, 0, 179);
  color: white;
  padding-left: 30%;}

.menu {display: flex;
  justify-content: space-around;}

.vetrina {display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(143, 0, 179);
  padding-top: 200px;
  padding-bottom: 200px;}

#frecciasx {background-image: url("Frecciasx.png");
  height: 15%;
  width: 8%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5em;}

#frecciadx {background-image: url("Frecciadx.png");
  align: left;
  height: 15%;
  width: 8%;
  background-size: contain;
  background-repeat: no-repeat;
margin-left: 5em;}

#slideshow {height: 25em;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;}

#slideshow.foto1 {background-image: url("foto1.png");
  transition: 2s all;}

#slideshow.foto2 {background-image: url("foto2.png");
  transition: 2s all;}

#slideshow.foto3 {background-image: url("foto3.png");
  transition: 2s all;}

#slideshow.foto4 {background-image: url("foto4.png");
  transition: 2s all;}

#slideshow.foto5 {background-image: url("foto5.png");
  transition: 2s all;}

#slideshow.foto6 {background-image: url("foto6.png");
  transition: 2s all;}

#slideshow.foto7 {background-image: url("foto7.png");
  transition: 2s all;}

#slideshow.foto8 {background-image: url("foto8.png");
  transition: 2s all;}

#slideshow.foto9 {background-image: url("foto9.png");
  transition: 2s all;}
