body {background-color: #e6e6fa;
margin-left: 30px;
margin-right: 30px;}

h1 {color:#000080;
font-size:90pt;
font-family:sans-serif;}

h2 {color:#c71585;
font-size:45pt;
font-family:sans-serif;}

h3 {color:#c71585;
  font-size:30pt;
  font-family:sans-serif;
font-style:italic;}

h4 {color:#c71585;
  font-size:25pt;
font-style:italic;}
